@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1 {
  margin: auto;
  width: auto;
}
.row1 {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.hline {
  border: 1px solid rgb(219, 214, 214);
  width: 80%;
  margin-left: 15px;
}
.footer1 {
  background-color: #173f5f;
  padding: 60px 0;
}
.footer-col {
  width: 30%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f9fd50;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
}
.help {
  padding-left: 280px;
}

@media (max-width: 767px) {
  .footer-col {
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 602px) {
  .footer-coll {
    flex-direction: column;
  }
  .help {
    padding-left: 15px;
    padding-right: 0px;
  }
}
